<!-- src/app/pages/landing/landing.component.html -->

<section class="parte1">
  <section class="eslogan">
    <div class="info">
      <p>"Tu comida de siempre con un toque especial"</p>
    </div>
  </section>
  <video src="/assets/images/video_landing.mp4" muted autoplay loop></video>
</section>

<section class="parte3">
  <h2>En el Portico tendras:</h2>
  <div class="parte3-container">
    <div class="parte3-card">
      <img src="/assets/images/gusto.png" alt="Experiencia Sensorial" />
      <h3>Experiencia Sensorial</h3>
      <p>Cada bocado es un viaje de sabores cuidadosamente seleccionados...</p>
    </div>
    <div class="parte3-card">
      <img src="/assets/images/porticoooo.png" alt="Ambiente Unico" />
      <h3>Ambiente Unico</h3>
      <p>Sumérgete en un entorno acogedor y sofisticado donde cada detalle está pensado...</p>
    </div>
    <div class="parte3-card">
      <img src="/assets/images/atencion.png" alt="Atención Excelente" />
      <h3>Atención Excelente</h3>
      <p>Nos apasiona ofrecer un servicio excepcional...</p>
    </div>
  </div>
</section>

<section class="parte2">
  <section class="carousel-container">
    <button class="carousel-btn prev" onclick="moveCarousel(-1)">❮</button>
    <div class="carousel" id="carousel">
      <div class="carousel-item">
        <img src="/assets/images/hamburgesa.png" alt="El Portico" />
        <div class="overlay"><p>El Portico</p></div>
      </div>
      <div class="carousel-item">
        <img src="/assets/images/burger2.png" alt="Fungi Premium" />
        <div class="overlay"><p>Fungi Premium</p></div>
      </div>
      <div class="carousel-item">
        <img src="/assets/images/burger3.png" alt="Marinera" />
        <div class="overlay"><p>Marinera</p></div>
      </div>
      <div class="carousel-item">
        <img src="/assets/images/burger4.png" alt="La Exquisita" />
        <div class="overlay"><p>La Exquisita</p></div>
      </div>
      <div class="carousel-item">
        <img src="/assets/images/burger5.png" alt="El Principe" />
        <div class="overlay"><p>El Principe</p></div>
      </div>
      <div class="carousel-item">
        <img src="/assets/images/burger6.png" alt="La King" />
        <div class="overlay"><p>La King</p></div>
      </div>
      <div class="carousel-item">
        <img src="/assets/images/burger7.png" alt="El Noble" />
        <div class="overlay"><p>El Noble</p></div>
      </div>
    </div>
    <button class="carousel-btn next" onclick="moveCarousel(1)">❯</button>
  </section>
</section>

<section class="parte5">
  <div>
    <p>Registrate y disfruta de todos los servicios/experiencias gastronomicas que te ofrecemos !!</p>
  </div>
  <div class="btn-eslogan">
    <a routerLink="/clientes/crear"><button class="btn">Crear Cuenta</button></a>
    <a routerLink="/login"><button class="btn">Iniciar Sesión</button></a>
  </div>
</section>

<section class="mapa" id="mapaPortico">
  <h2>Ubicación</h2>
  <div class="mapa-container">
    <div class="infoSede">
      <h3>Dirección</h3>
      <p>Bogotá D.C</p>
      <p>Cl. 117 #656</p>
      <p>Parque de Usaquen</p>
      <img src="assets/images/entradaRestaurante.jpg" alt="Foto Restaurante" />
    </div>
    <div class="mapa-imagen">
      <img src="/assets/images/mapaElPortico.png" alt="Mapa de Restaurantes" />
    </div>
  </div>
</section>

<section class="parte4">
  <div class="parte4-container">
    <div class="parte4-info">
      <h2>Consulta con nosotros</h2>
      <p>Ingresa los datos y haz cualquier tipo de consulta que te responderemos con el mayor gusto.</p>
    </div>
    <form class="parte4-form">
      <label for="email">Correo</label>
      <input type="email" id="email" name="email" required />

      <label for="name">Nombre</label>
      <input type="text" id="name" name="name" required />

      <label for="message">Mensaje</label>
      <textarea id="message" name="message" rows="4" required></textarea>

      <button type="submit" class="btn-submit">Enviar Consulta</button>
    </form>
  </div>
</section>
