<header>
  <nav>
    <div class="nav-left">
      <ul class="indices">
        <li><a href="/somos"><button>¿Quiénes Somos?</button></a></li>
        <li><a href="#mapaPortico"><button>Sede</button></a></li>
      </ul>
    </div>
    <a href="/" class="logo">
      <img src="assets/images/NuevoLogo.png" alt="El Pórtico Gourmet" />
    </a>
    <div class="nav-right">
      <ul class="indices">
        <li><a href="#carta"><button>Carta</button></a></li>
        <li><a href="#contactos"><button>Contáctanos</button></a></li>
      </ul>
      <a href="/login" class="btn-pedido"><button>Haz tu pedido</button></a>
    </div>
  </nav>
</header>
