<header>
  <nav>
    <div class="nav-left">
      <ul class="indices">
        <li><button (click)="router.navigate(['/somos'])">¿Quiénes Somos?</button></li>
        <li><button (click)="router.navigate(['/#mapaPortico'])">Sede</button></li>
      </ul>
    </div>

    <a (click)="router.navigate(['/'])" class="logo">
      <img src="assets/images/NuevoLogo.png" alt="El Pórtico Gourmet" />
    </a>

    <div class="nav-right">
      <ul class="indices">
        <li><button (click)="irACarta()">Carta</button></li>
        <li><button (click)="router.navigate(['/#contactos'])">Contáctanos</button></li>
      </ul>
      <button (click)="irACarrito()" class="btn-pedido">Haz tu pedido</button>
    </div>
  </nav>
</header>
