<div class="table-container">
  <h1>LISTA CLIENTES</h1>
  
  <table class="client-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Password</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>Dirección</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{ cliente.id }}</td>
        <td>{{ cliente.username }}</td>
        <td>{{ cliente.password || 'N/A' }}</td>
        <td>{{ cliente.name }}</td>
        <td>{{ cliente.lastName }}</td>
        <td>{{ cliente.email }}</td>
        <td>{{ cliente.phone }}</td>
        <td>{{ cliente.address }}</td>
        <td>
          <a [routerLink]="['/clientes/editar', cliente.id]" class="edit-btn">✏️</a>
          <button class="delete-btn" (click)="eliminarCliente(cliente.id)">❌</button>
        </td>
        
      </tr>
    </tbody>
  </table>

  <button class="add-btn" routerLink="/clientes/crear">AÑADIR CLIENTE</button>
</div>