<div *ngIf="order">
    <h4>Detalle del Pedido</h4>
    <ul class="list-group">
      <li class="list-group-item"><strong>ID:</strong> {{ order.id }}</li>
      <li class="list-group-item"><strong>Cantidad:</strong> {{ order.quantity }}</li>
      <li class="list-group-item"><strong>ID Comida:</strong> {{ order.comidaId }}</li>
      <li class="list-group-item"><strong>ID Factura:</strong> {{ order.billId }}</li>
    </ul>
    <button class="btn btn-secondary mt-3" (click)="cerrar()">Cerrar</button>
  </div>
  