<p>dashboard works!</p>
<div class="dashboard-container">
    <h2>Panel de Administración</h2>
    <div class="dashboard-grid">
      <div class="dashboard-card" routerLink="/comidas">
        <h3>Productos</h3>
        <p>Gestionar comidas y adicionales</p>
      </div>
      <div class="dashboard-card" routerLink="/admin/kpis">
        <h3>Estadísticas</h3>
        <p>Ver dashboard con KPIs</p>
      </div>
      <div class="dashboard-card" routerLink="/admin/operadores">
        <h3>Operadores</h3>
        <p>CRUD de operadores</p>
      </div>
      <div class="dashboard-card" routerLink="/admin/domiciliarios">
        <h3>Domiciliarios</h3>
        <p>CRUD de domiciliarios</p>
      </div>
      <div class="dashboard-card" routerLink="/admin/historial">
        <h3>Historial de pedidos</h3>
        <p>Filtrar y consultar pedidos entregados</p>
      </div>
    </div>
  </div>
  