body, app-root {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  main, .main-wrapper, .container {
    padding-top: 100px;
  }
  .container {
    padding-top: 130px;
  }  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
